
b{
    color: blue;
    font-size: 50px;
}

#button1{
    background-color: blue;
    width: 170px;
}
#button2{
    background-color: green;
    width: 90px;
    height: 25px;
    font-size:10px;
    margin-left: 20%;
    
}
#logo{
    padding: 40px;
    display: inline;
    margin: 50px;
    padding-top: 100px;
}
#div1{
    display: inline;
    margin-left: 150px;
    background-color: azure;
    ;
}
body{
    background-color: rgb(140, 230, 186);
}